<ul class="accordion">
    <li><a href="/Paving/Utility">Utility</a></li>
    <li><a href="/Paving/ContractWork">Contract Work</a></li>
    <li><a href="/Paving/FineGrade">Fine grade</a></li>
    <li><a href="/Home/ContactUs">Contact Us</a></li>
</ul>
