<div id="sidebar">
    <div class="sidebar-top">
        <div class="sidebar-btm">
            <h3>
                Featured Work</h3>
            <img src="/Content/images/brewed_featured.jpg" alt="image"
                width="200" />
            <p>
                <strong>Brewed Awakings Coffee Shop</strong> Parking lot paved with painted car lanes, along with some beautiful stone work.</p>
            <!--<a href="#" class="learnmore">LEARN MORE</a>-->
        </div>
    </div>
</div>
