@{
    ViewBag.Title = "About Hartford Paving";
    Layout = "~/Views/Shared/_LayoutPaving.cshtml";
}

<div id="main">
				<div class="section">
					<h2>ABOUT US</h2>
					<div class="information"> <span>For more information call:</span> <span class="phone">401.942.8857</span> </div>
					</div>
					<div class="two-columns inner">
						<div id="content">
							<div class="content-top">
								<div class="content-btm">
									<div class="inner-content">
										<div class="left">
											<ul class="accordion">
												<li><a href="#" class="opener">Contact Us</a>
												<ul class="slide">
														<li><a href="/Home/ContactUs">Call or Email</a></li>
														</ul>
												</li>
												@*<li><a href="#" class="opener">Concrete Pavers</a>
													<ul class="slide">
														<li><a href="#">Colonial Cobble Series</a></li>
														<li><a href="#">Tumbled Colonial 
															Cobble</a></li>
														<li><a href="#">Village Paver</a></li>
														<li><a href="#">Rustico Series</a></li>
														<li><a href="#">Circle Kits</a></li>
													</ul>
												</li>
												<li><a href="#">Manufactured Stone</a></li>
												<li><a href="#" class="opener">Thin Veneer Stone</a>
												<ul class="slide">
														<li><a href="#">Colonial Cobble Series</a></li>
														<li><a href="#">Tumbled Colonial 
															Cobble</a></li>
														<li><a href="#">Village Paver</a></li>
														<li><a href="#">Rustico Series</a></li>
														<li><a href="#">Circle Kits</a></li>
													</ul>
												</li>
												<li><a href="#" class="opener">Decorative Stone</a>
												<ul class="slide">
														<li><a href="#">Colonial Cobble Series</a></li>
														<li><a href="#">Tumbled Colonial 
															Cobble</a></li>
														<li><a href="#">Village Paver</a></li>
														<li><a href="#">Rustico Series</a></li>
														<li><a href="#">Circle Kits</a></li>
													</ul>
												</li>
												<li><a href="#">Blue Stone</a></li>
												<li><a href="#">Wall Stone</a></li>*@
											</ul>
										</div>
										<div class="right">
										<h3>Company Information</h3>
										<p>
                                        Hartford Paving Corporation was established in 1974. Our father, Anthony
                                        Corsinetti, Sr., worked for MA Gammino Construction for several years before
                                        he ventured into his own business.
                                        </p>
                                        <p>
                                        We started by doing driveways and small parking areas. After a few years, our
                                        company decided to expand and grow. We did not forget our roots, even
                                        though we started to accomplish other feats. Our still ongoing relationship with
                                        Providence Gas Company/National Grid has been growing strong since 1982. We
                                        now also do site work, utility work, roads, and many other construction services.
                                        Some of the contracts that we have had in the past include work done for the
                                        State of Rhode, many municipalities and many utility companies. We are one of
                                        the preferred paving companies of many general contractors.
                                        </p>
                                        <p>
                                        In 2002, after the passing of our father, my brother Chris and I have strived to
                                        make our company a standard in Rhode Island. We are very proud of our
                                        company’s record and accomplishments and are very excited at what the future
                                        holds.
                                        </p>
                                        <p>
                                        Our employees are some of the best in the business. We will make your
                                        experience with Hartford Paving Corporation a great one!
                                        </p>
                                        <p>
                                        Thank you, <br />
                                        Anthony Corsinetti, Vice President Construction<br />
                                        Chris Corsinetti, Vice President Material
                                        </p>
										
										</div>
									</div>
								</div>
							</div>
						</div>
						@Html.Partial("_PavingFeature")
					</div>
			</div>
		</div>
	</div>

