@{
    ViewBag.Title = "FineGrade";
    Layout = "~/Views/Shared/_LayoutPaving.cshtml";
}

<div id="main">
				<div class="section">
					<h2>Services</h2>
					<div class="information"> <span>For more information call:</span> <span class="phone">401.942.8857</span> </div>
					</div>
					<div class="two-columns inner">
						<div id="content">
							<div class="content-top">
								<div class="content-btm">
									<div class="inner-content">
										<div class="left">
										  @Html.Partial("_PavingSubMenu")	
										</div>
										<div class="right">
						<h3>Fine Grade Services</h3>
                        <p><img src="/Content/images/FineGrade1.jpg" width="440" /></p>
                        <p>Not only does Hartford Paving fine grade its own work, we will fine grade any project for other contractors.  We have a larger grader to satisfy all of your bigger projects or a small grader for driveways and small parking areas.  Call and get a quote.</p>


										</div>
									</div>
								</div>
							</div>
						</div>
						@Html.Partial("_PavingFeature")
					</div>
			</div>
		</div>
	</div>
