@{
    ViewBag.Title = "Finished Worked";
    Layout = "~/Views/Shared/_Layout-Inner-Paving-Finished.cshtml";
}
<h2>Finished Work</h2>
	<ul id="myGallery">
            <li><img data-frame="/Content/images/FinishedWork/brewed9.jpg" src="/Content/images/FinishedWork/brewed9.jpg" title="" data-description="" /></li>
            <li><img data-frame="/Content/images/FinishedWork/brewed2.jpg" src="/Content/images/FinishedWork/brewed2.jpg" title="" data-description="" /></li>
            <li><img data-frame="/Content/images/FinishedWork/brewed6.jpg" src="/Content/images/FinishedWork/brewed6.jpg" title="" data-description="" /></li>
            <li><img data-frame="/Content/images/FinishedWork/brewed7.jpg" src="/Content/images/FinishedWork/brewed7.jpg" title="" data-description="" /></li>            
         </ul>