@{
    ViewBag.Title = "Finished Worked";
    Layout = "~/Views/Shared/_Layout-Inner-Paving-Finished.cshtml";
}
<h2>Finished Work</h2>
	<ul id="myGallery">
            <li><img data-frame="/Content/images/FinishedWork/DSCF7097b.JPG" src="/Content/images/FinishedWork/DSCF7097b.JPG" title="Brown Univeristy" data-description="Brown Univeristy" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7098.JPG" src="/Content/images/FinishedWork/DSCF7098.JPG" title="Brown Univeristy" data-description="Brown Univeristy" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7095b.JPG" src="/Content/images/FinishedWork/DSCF7095b.JPG" title="National Grid" data-description="National Grid" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7096b.JPG" src="/Content/images/FinishedWork/DSCF7096b.JPG" title="National Grid" data-description="National Grid" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7102.JPG" src="/Content/images/FinishedWork/DSCF7102.JPG" title="URI" data-description="URI" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7103.JPG" src="/Content/images/FinishedWork/DSCF7103.JPG" title="URI" data-description="URI" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7101b.JPG" src="/Content/images/FinishedWork/DSCF7101b.JPG" title="URI" data-description="URI" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7099b.JPG" src="/Content/images/FinishedWork/DSCF7099b.JPG" title="URI" data-description="URI" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7100b.JPG" src="/Content/images/FinishedWork/DSCF7100b.JPG" title="URI" data-description="URI" /></li>
            <li><img data-frame="/Content/images/FinishedWork/brewed9.jpg" src="/Content/images/FinishedWork/brewed9.jpg" title="Brewed Awakings Coffee Shop" data-description="Brewed Awakings Coffee Shop" /></li>
            <li><img data-frame="/Content/images/FinishedWork/brewed2.jpg" src="/Content/images/FinishedWork/brewed2.jpg" title="Brewed Awakings Coffee Shop" data-description="Brewed Awakings Coffee Shop" /></li>
            <li><img data-frame="/Content/images/FinishedWork/brewed6.jpg" src="/Content/images/FinishedWork/brewed6.jpg" title="Brewed Awakings Coffee Shop" data-description="Brewed Awakings Coffee Shop" /></li>
            <li><img data-frame="/Content/images/FinishedWork/brewed7.jpg" src="/Content/images/FinishedWork/brewed7.jpg" title="Brewed Awakings Coffee Shop" data-description="Brewed Awakings Coffee Shop" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7081.JPG" src="/Content/images/FinishedWork/DSCF7081.JPG" title="Brewed Awakings Coffee Shop" data-description="Brewed Awakings Coffee Shop" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7082.JPG" src="/Content/images/FinishedWork/DSCF7082.JPG" title="Brewed Awakings Coffee Shop" data-description="Brewed Awakings Coffee Shop" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7083.JPG" src="/Content/images/FinishedWork/DSCF7083.JPG" title="Brewed Awakings Coffee Shop" data-description="Brewed Awakings Coffee Shop" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7084.JPG" src="/Content/images/FinishedWork/DSCF7084.JPG" title="Brewed Awakings Coffee Shop" data-description="Brewed Awakings Coffee Shop" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7085.JPG" src="/Content/images/FinishedWork/DSCF7085.JPG" title="Brewed Awakings Coffee Shop" data-description="Brewed Awakings Coffee Shop" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7086.JPG" src="/Content/images/FinishedWork/DSCF7086.JPG" title="Brewed Awakings Coffee Shop" data-description="Brewed Awakings Coffee Shop" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7087.JPG" src="/Content/images/FinishedWork/DSCF7087.JPG" title="Brewed Awakings Coffee Shop" data-description="Brewed Awakings Coffee Shop" /></li> 
            <li><img data-frame="/Content/images/FinishedWork/DSCF7088.JPG" src="/Content/images/FinishedWork/DSCF7088.JPG" title="Brewed Awakings Coffee Shop" data-description="Brewed Awakings Coffee Shop" /></li> 
            <li><img data-frame="/Content/images/FinishedWork/DSCF7089.JPG" src="/Content/images/FinishedWork/DSCF7089.JPG" title="Brewed Awakings Coffee Shop" data-description="Brewed Awakings Coffee Shop" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7090.JPG" src="/Content/images/FinishedWork/DSCF7090.JPG" title="Brewed Awakings Coffee Shop" data-description="Brewed Awakings Coffee Shop" /></li> 
            <li><img data-frame="/Content/images/FinishedWork/DSCF7091.JPG" src="/Content/images/FinishedWork/DSCF7091.JPG" title="ADA Improvements to Providence Streets" data-description="ADA Improvements to Providence Streets" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7092.JPG" src="/Content/images/FinishedWork/DSCF7092.JPG" title="ADA Improvements to Providence Streets" data-description="ADA Improvements to Providence Streets" /></li> 
            <li><img data-frame="/Content/images/FinishedWork/DSCF7093.JPG" src="/Content/images/FinishedWork/DSCF7093.JPG" title="ADA Improvements to Providence Streets" data-description="ADA Improvements to Providence Streets" /></li> 
            <li><img data-frame="/Content/images/FinishedWork/DSCF7094.JPG" src="/Content/images/FinishedWork/DSCF7094.JPG" title="ADA Improvements to Providence Streets" data-description="ADA Improvements to Providence Streets" /></li>                     
         </ul>