@{
    ViewBag.Title = "Paving Services";
    Layout = "~/Views/Shared/_LayoutPaving.cshtml";
}

<div id="main">
				<div class="section">
					<h2>Services</h2>
					<div class="information"> <span>For more information call:</span> <span class="phone">401.942.8857</span> </div>
					</div>
					<div class="two-columns inner">
						<div id="content">
							<div class="content-top">
								<div class="content-btm">
									<div class="inner-content">
										<div class="left">
											<ul class="accordion">
												
                                                <li><a href="#">Utlity</a></li>
                                                <li><a href="#">Contract Services</a></li>
                                                <li><a href="#">Utlity</a></li>
                                                <li><a href="#">Fine grade</a></li>
                                                <li><a href="#" class="opener">Contact Us</a>
												<ul class="slide">
														<li><a href="/Home/ContactUs">Call or Email</a></li>
														</ul>
												</li>
												@*
												<li><a href="#" class="opener">Decorative Stone</a>
												<ul class="slide">
														<li><a href="#">Colonial Cobble Series</a></li>
														<li><a href="#">Tumbled Colonial 
															Cobble</a></li>
														<li><a href="#">Village Paver</a></li>
														<li><a href="#">Rustico Series</a></li>
														<li><a href="#">Circle Kits</a></li>
													</ul>
												</li>
												<li><a href="#">Blue Stone</a></li>
												<li><a href="#">Wall Stone</a></li>*@
											</ul>
										</div>
										<div class="right">
						<h3>Paving Services</h3>
                        <p><img src="/Content/images/Truck2012.jpg" width="440" /></p>
                        <p>Hartford Paving Corporation is a family owned and run business that was founded in 1974 as a general contractor, paving driveways and roadways.  Hartford Paving Corporation has had a long tradition of family values and quality workmanship.  While being in business for over 30 years, Hartford Paving Corporation has tried to bring the highest quality of workmanship and pride into the industry, while also trying to stay as economical as possible for ourselves and our customers.  This pride in detail and workmanship is something that we will bring into our latest venture.</p>
                        <p>Hartford Materials is a company that strives to meet the needs of today's landscaping contractors, masonry contractors, and homeowners.  Hartford Materials is a one-stop shop for all contractors and homeowners, offering a complete line of landscaping and masonry materials, as well as the tools and equipment needed to get the job done. Our products include bluestone flagging and treads, natural wall stone and veneers, thin veneers, manufactured stone, brick, pavers and segmental retaining walls, mulch, decorative stone, and much more. Our experienced, knowledgeable, and friendly staff will be happy to assist you in selecting the right product to meet your needs and expectations, to make your home improvement project a success.</p>
                        <p>Please have a look around our site and see some of the options that are available to you.  Feel free to contact us for more details, or come visit the Hartford Materials Showroom and Stoneyard today.</p>


										
										</div>
									</div>
								</div>
							</div>
						</div>
						@Html.Partial("_PavingFeature")
					</div>
			</div>
		</div>
	</div>