@{
    ViewBag.Title = "Equipment Rental/Sales";
    Layout = "~/Views/Shared/_Layout-Inner-Equipment.cshtml";
}
    <h3>Equipment Rental/Sales</h3>
    <p>
        “See the Pro’s at Hartford for All your Construction Needs”. We have a full line
        of construction equipment which that is available for both rental and sale from
        the leading manufacturers such as Hitachi, Sakai, Multi-Quip and Mi-Ti-M. Hartford
        Materials Construction Equipment Sales & Rental Division has an experienced staff
        to recommend the right equipment you will need for your project.
    </p>
    <img src="/Content/images/EquipmentRental.jpg" />
