@{
    ViewBag.Title = "Bluestone Radius";
    Layout = "~/Views/Shared/_Layout-Inner-Paving.cshtml";
}

<h3>Bluestone Radius</h3>
<img src="/Content/images/PavingProducts/Bluestone%20radius%20treads.%20Rockfaced%20(1).JPG" width="480" />