@{
    ViewBag.Title = "Directions";
    Layout = "~/Views/Shared/_Layout-Inner.cshtml";
}
<div id="main">
				<div class="section">
					<h2>Directions</h2>
					<div class="information"> <span>For more information call:</span> <span class="phone">401.942.8857</span> </div>
					</div>
					<div class="two-columns inner">
						<div id="content">
							<div class="content-top">
								<div class="content-btm">
									<div class="inner-content">
										<div class="left">
											<ul class="accordion">
												<li><a href="#" class="opener">Contact Us</a>
												<ul class="slide">
														<li><a href="/Home/ContactUs">Hartford Materials</a></li>
                                                        <li><a href="/Paving/ContactUs">Hartford Paving</a></li>
														</ul>												
										</div>
										<div class="right">
										<h3>Directions</h3>
                                        <p><strong>From North:</strong>
                                            Take 295 South to Exit 5 (Rhode Island Resource Recovery)
                                            Turn Right at Top of Ramp
                                            In 100 yards Right onto Old Pocasset Road (Hartford Materials Sign is on the Corner)
                                            Yard and Office is First Building on Right</p>
                                        <p><Strong>From South:</Strong>
                                            Take 295 North to Exit 5 (Rhode Island Resource Recovery)
                                            Turn Left at Top of Ramp
                                            In 150 yards Right onto Old Pocasset Road (Hartford Materials Sign is on the Corner)
                                            Yard and Office is First Building on Right</p>
										<p></p>
										<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=112+Old+Pocasset+Road,+Johnston,+RI&amp;aq=0&amp;oq=112+Old+Pocasset+Road&amp;sll=37.0625,-95.677068&amp;sspn=51.443116,91.318359&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=112+Old+Pocasset+Rd,+Johnston,+Rhode+Island+02919&amp;ll=41.813547,-71.511641&amp;spn=0.02239,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=112+Old+Pocasset+Road,+Johnston,+RI&amp;aq=0&amp;oq=112+Old+Pocasset+Road&amp;sll=37.0625,-95.677068&amp;sspn=51.443116,91.318359&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=112+Old+Pocasset+Rd,+Johnston,+Rhode+Island+02919&amp;ll=41.813547,-71.511641&amp;spn=0.02239,0.036478&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="sidebar">
						<div class="sidebar-top">
						<div class="sidebar-btm">
						<h3>Finished Work Feature</h3>
						<img src="/Content/images/PavingProducts/Travertine-FeaturesFinish.jpg" alt="image" width="200" />
						<p><strong>The following luxury outdoor living area</strong> features an impressive natural waterfall. The patios feature Tennessee Crab Orchard, and Travertine Stone.</p>
						<!--<a href="#" class="learnmore">LEARN MORE</a>-->
						</div>
						</div>
						</div>
					</div>
			</div>
		</div>
	</div>
