@{
    ViewBag.Title = "Finished";
    Layout = "~/Views/Shared/_Layout-Inner-Finished.cshtml";
}

<h2>Finished Work</h2>
	<ul id="myGallery">
            <li><img data-frame="/Content/images/FinishedWork/Adirondack%20Granite%20Mosaic.jpg"  src="/Content/images/FinishedWork/Adirondack%20Granite%20Mosaic.jpg"  title="" data-description="" /></li>
            <li><img data-frame="/Content/images/FinishedWork/Antiqued%20Col%20Cob%20Adobe%20Blend.%20Crab%20Orchard%20Circle.%20(6).jpg" src="/Content/images/FinishedWork/Antiqued%20Col%20Cob%20Adobe%20Blend.%20Crab%20Orchard%20Circle.%20(6).jpg" title="" data-description="" /></li>
            <li><img data-frame="/Content/images/FinishedWork/Antiqued%20Col%20Cob%20Adobe%20Blend.%20Crab%20Orchard%20Circle.%20(4).jpg" src="/Content/images/FinishedWork/Antiqued%20Col%20Cob%20Adobe%20Blend.%20Crab%20Orchard%20Circle.%20(4).jpg" title="" data-description="" /></li>
            <li><img data-frame="/Content/images/FinishedWork/Casale%20Olde%20Towne%20Oyster,%20Dolph%20Pond%20Granite%20(1).jpg" src="/Content/images/FinishedWork/Casale%20Olde%20Towne%20Oyster,%20Dolph%20Pond%20Granite%20(1).jpg"  title="" data-description="" /></li>
            <li><img data-frame="/Content/images/FinishedWork/Quartzite%20Thin%20Veneer%20(5).jpg" src="/Content/images/FinishedWork/Quartzite%20Thin%20Veneer%20(5).jpg" title="" data-description="" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7095.JPG" src="/Content/images/FinishedWork/DSCF7095.JPG" title="" data-description="" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7096.JPG" src="/Content/images/FinishedWork/DSCF7096.JPG" title="" data-description="" /></li>
            <li><img data-frame="/Content/images/FinishedWork/DSCF7099.JPG" src="/Content/images/FinishedWork/DSCF7099.JPG" title="" data-description="" /></li>
            <li><img data-frame="/Content/images/FinishedWork/hm%20006.jpg" src="/Content/images/FinishedWork/hm%20006.jpg" title="" data-description="" /></li>
            <li><img data-frame="/Content/images/FinishedWork/nicolock%20127.jpg" src="/Content/images/FinishedWork/nicolock%20127.jpg" title="" data-description="" /></li>
         </ul>

