@{
    ViewBag.Title = "Rustico 6x9, 6x6";
    Layout = "~/Views/Shared/_Layout-Inner-Paving.cshtml";
}

<h3>Rustico 6x9, 6x6</h3>
<img src="/Content/images/PavingProducts/Rustico%206x9,%206x6%20Crab%20Orchard.jpg" width="480" />