@{
    ViewBag.Title = "Tumbled Village Bayberry";
    Layout = "~/Views/Shared/_Layout-Inner-Paving.cshtml";
}

<h3>Tumbled Village Bayberry</h3>
<img src="/Content/images/PavingProducts/Tumbled%20Village%20Bayberry%20Blend.jpg" width="480" />