@{
    ViewBag.Title = "Tumbled Country 4pc Bayberry";
    Layout = "~/Views/Shared/_Layout-Inner-Paving.cshtml";
}

<h3>Tumbled Country 4pc Bayberry</h3>
<img src="/Content/images/PavingProducts/Tumbled%20Country%204pc%20Combo%20Bayberry%20Blend.jpg" width="480" />