@{
    ViewBag.Title = "Paving Products";
    Layout = "~/Views/Shared/_Layout-Inner-Paving.cshtml";
}
<h3>Our Pavers</h3>
<p>The use of concrete pavers, often referred to as paving stones, is growing rapidly on both commercial and residential construction projects. Interlocking pavers form a patterned surface which can be put into service immediately. Pavers are manufactured in various textures and colors. A big benefit of pavers is that they can be removed and re-installed, which reduces future service interruptions.</p>
<img src="/Content/images/PavingProducts/Travertine.JPG" width="480" />
