@{
    ViewBag.Title = "Wall Systems Colonial Oyster";
    Layout = "~/Views/Shared/_Layout-Inner-Paving.cshtml";
}

<h3>Wall Systems Colonial Oyster</h3>
<img src="/Content/images/PavingProducts/Colonial%20Wallstone.JPG" width="480" />