@{
    ViewBag.Title = "Mini Colonial Oyster blend";
    Layout = "~/Views/Shared/_Layout-Inner-Paving.cshtml";
}

<h3>Mini Colonial Oyster blend</h3>
<img src="/Content/images/PavingProducts/Mini-Colonial%20Oyster%20Blend.jpg" width="480" />