@{
    ViewBag.Title = "Firma, JR. G/C";
    Layout = "~/Views/Shared/_Layout-Inner-Paving.cshtml";
}

<h3>Wall Systems Firma, JR. G/C</h3>
<img src="/Content/images/PavingProducts/Firma%20Jr.%20Granite%20City.jpg" width="480" />